<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Registro de Preguntas</h3>
    </div>
    <div class="card-body">

      <form action="/rasks/new-ask" method="POST">

        {{#each lPreguntas}}

        <div class="form-group">
            <textarea name="{{idPregunta}}" class="form-control" placeholder="{{pregunta}}"></textarea>
        </div>

        {{/each}}


        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Grabar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>