<div class="jumbotron mt-4">
  <h1 class="display-4">Sgirs App Node</h1>
  <p class="lead">An App to manager Technologies</p>
  <hr class="my-4">
  <p>Version 1.0
  </p>
  <a class="btn btn-primary btn-lg" href="https://systemservicesolutions.com.co" role="button">System Services Solutions</a>
</div>