{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Modificar Sector</h3>
    </div>
    <div class="card-body">
      <form action="/sector/edit-sector/{{Sectores._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <textarea name="CodSector" class="form-control">{{Sectores.CodSector}}</textarea>          
        </div>
        <div class="form-group">
          <textarea name="Descripcion" class="form-control">{{Sectores.Descripcion}}</textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Grabar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
