<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Nuevo Sector</h3>
    </div>
    <div class="card-body">
      <form action="/sector/new-sector" method="POST">
        <div class="form-group">
          <textarea name="CodSector" class="form-control" placeholder="CodSector"></textarea>
        </div>
        <div class="form-group">
          <textarea name="Descripcion" class="form-control" placeholder="Descripcion"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Grabar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>